.Timer {
	text-align: center;
}

.Timer h2 {
	font-size: 4rem;
}

.Timer .timer-display {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Timer .control-button {
	border: none;
	background-color: transparent;
	font-size: 2.5rem;
	padding: 0;
	margin: 0 40px;
}

.Timer button {
	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
}

.Timer button:hover {
	cursor: pointer;
}
